.wrapperUser{
	display: grid;
	grid-template-columns: max-content auto;
	grid-gap: .5rem;
}
.wrapperUser +.wrapperUser {
	margin-top: 1rem;
}
.pagination{
	width: 100%;
	text-align: center;
	color: #d5d5d5;
	display: flex;
	gap: .5rem;
	justify-content: center;
	margin: 1rem 0;
}
.pagination span{
	cursor: pointer;
}
.selectedPage{
	font-weight: 500;
	color: #000;
}
.user{
	display: grid;
	border: 1px solid #d5d5d5;
	border-radius: 1rem;
	grid-gap: .5rem;
	grid-template-columns: 1fr max-content max-content;
}
.avatar{
	align-self: center;
}
.avatar img{
	max-width: 64px;
	height: auto;
}
.location{
	font-weight: 700;
	text-align: right;
	margin-top: .5rem;
}
.user h2{
	margin: .5rem 0 2rem .5rem;
}
.user h3{
	margin: 0 0 .5rem .5rem;
	color: #d5d5d5;
}
.btnfollow{
	-webkit-writing-mode: vertical-rl;
	writing-mode: tb-rl;
	align-self: center;
	padding: 1rem;
	background-color: #5ff55f;
	color: white;
	border-radius: 0 1rem 1rem 0;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.follow{
	background-color: #5ff55f;
}
.unfollow{
	background-color: #f55f5f;
}
.disabled{
	pointer-events: none;
	opacity: 0.5;
}