.header {
    grid-area: header;
    display: grid;
    background-color: var(--main-bg-color);
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 1rem;

}

.header img {
    max-width: 60px;
    align-self: center;
    padding-left: 10px;
}