.nav {
    grid-area: nav;
    padding: 10px;
    background-color: var(--main-bg-color);
}

.nav ul li {
    list-style: none;
}

.nav ul li:nth-last-of-type(1), .nav ul li:nth-last-of-type(2) {
    margin-top: 3rem;
}

.item{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.item:hover {
    color: #999;
}

.active {
    font-weight: 700;
    color: #999;
}