.post {
    display: grid;
    grid-template-columns: 1fr 10fr auto;
    align-items: center;
    grid-gap: 10px;
}

.post + .post {
    margin-top: 20px;
}

.ava{
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    justify-self: center;
}

.like{
    display: grid;
    grid-template-columns: auto 25px;
    grid-gap: 5px;
    justify-content: end;
    align-items: center;
}

.like img{
    max-width: 25px;
}

.count{
    font-size: .5rem;
}