:root {
    --main-bg-color: #b5e8ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "header header"
                        "nav content"
                        "footer footer";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr 60px;
    /*grid-gap: 10px;*/
    max-width: 1240px;
    margin: 0 auto;
}