.content {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 100%;
}

.dialogs {
	padding: 10px;
	border-right: #939393 solid 2px;
	display: grid;
	grid-template-columns: 1fr;
	align-content: start;
}

.messages {
	padding: 10px;
	align-self: end;
}