.message {
	padding: 10px;
	font-style: italic;
}

.To {
	border-radius: 10px 0;
	border-right: #939393 solid 1px;
	border-bottom: #939393 solid 1px;
	text-align: right;
}

.From {
	border-radius: 0 10px;
	border-left: #939393 solid 1px;
	border-bottom: #939393 solid 1px;
	text-align: left;
}

.message + .message {
	margin-top: 10px;
}