.dialog {
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.active {
	font-weight: 700;
	border-left: #939393 solid 1px;
	border-bottom: #939393 solid 1px;
	border-radius: 10px;
	background-color: #f7f7f7;
}